{% extends 'base.html.twig' %}

{% block title %}
	{{ page.title }}
{% endblock %}

{% block description %}
	{% if page.description.description is defined %}
		{{ page.description.description }}
	{% endif %}
{% endblock %}

{% block keywords %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{asset('css/style.css')}}" rel="stylesheet" />
{% endblock %}

{% block body %}
	<div id="header">
		<a href="{{ path('mainPage') }}">
			<img id="logo" src="{{asset('images/logo.png')}}" alt=""/>
		</a>
		{{ render(controller('AppBundle:Default:mainMenu', {"currentPage": page.slug })) }}
		<img id="picture" src="{{asset('images/' ~ page.picture )}}" alt=""/>
	</div>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
	{% if page.footer.footer is defined %}
		<div id="footer">
			{{ page.footer.footer | raw}}
		</div>
	{% endif %}
{% endblock %}

{% block javascripts %}
{% endblock %}