{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{asset('css/admin/style.css')}}" rel="stylesheet" />
{% endblock %}

{% block body %}
	<nav class="navbar navbar-default" id="main_admin_nav">
		<div class="container">
			<div class="navbar-header">
				<p>Najlepsiejszy CMS</p>
			</div>
		 <div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ path('fos_user_security_logout') }}">Wyloguj się</a></li>
			</ul>
		</div>
	</nav>
	
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<ul id="secondary_nav" class="nav nav-pills nav-stacked list-group">
					<li role="presentation" class="list-group-item">
						<a href="{{ path('admin_page_index') }}">Strony</a>
					</li>
					<li role="presentation" class="list-group-item">
						<a href="{{ path('admin_footer_index') }}">Stopki</a>
					</li>
					<li role="presentation" class="list-group-item">
						<a href="{{ path('fos_user_profile_show') }}">Moje konto</a>
					</li>
					{% if is_granted('ROLE_ADMIN') %}
						<li role="presentation" class="list-group-item">
							<a href="#">Konto</a>
						</li>
					{% endif %}
				</ul>
			</div>
			<div class="col-xs-12 col-sm-9">
				{% block breadcrumb %}{% endblock %}
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}