<div class="panel panel-default">
	<div class="panel-heading"><h1>Rejestrowanie</h1></div>
	<div class="panel-body">
		<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
			{{ form_widget(form) }}
			<div>
				<input type="submit" class="btn btn-success" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
				<a class="btn btn-danger" href="{{ path('admin_user_index') }}" role="button">Anuluj</a>
			</div>
		</form>
	</div>
</div>
