{% extends 'admin/layout.html.twig' %}

{% block breadcrumb %}
	/
	<a href="{{ path('admin_footer_index') }}">Stopki</a>
	/
	<a href="{{ path('admin_footer_new') }}">Nowa</a>
{% endblock %}

{% block content %}
    <h1>Footer creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_footer_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
