{% extends 'admin/layout.html.twig' %}

{% block breadcrumb %}
	<li class="active">
		Strony
	</li>
{% endblock %}

{% block content %}
	{% for flash_message in app.session.flashBag.get('notice') %}
		<div class="alert alert-info" role="alert">
			{{ flash_message }}
		</div>
	{% endfor %}
	<div class="panel panel-default">
		<div class="panel-heading" id="heading">
			<h1>Strony</h1>
			<a class="btn btn-success" href="{{ path('admin_page_new') }}" role="button">Dodaj nową</a>
		</div>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Adres</th>
				</tr>
			</thead>
			<tbody>
			{% for page in pages %}
				<tr>
					<td><a href="{{ path('admin_page_edit', { 'id': page.id }) }}">{{ page.name }}</a></td>
					<td>
								{% if page.parent is not empty %}
									{{ path('childPage', { 'slug': page.slug, 'parent': page.parent.slug }) }}
								{% else %}
									{{ path('mainPage', { 'slug': page.slug }) }}
								{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
