{% extends 'admin_layout.html.twig' %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li>
			<a href="{{ path('admin_dashboard') }}">Panel</a>
		</li>
		<li>
			<a href="{{ path('page_index') }}">Strony</a>
		</li>
		<li class="active">
			Nowa
		</li>
	</ol>
{% endblock %}

{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading"><h1>Tworzenie strony</h1></div>
		<div class="panel-body">		
			{{ form_start(form) }}
				{{ form_widget(form) }}
				<input class="btn btn-success" type="submit" value="Utwórz">
			{{ form_end(form) }}
		
			<a id="backtolist"class="btn btn-danger" href="{{ path('page_index') }}" role="button">Anuluj</a>		
		</div>
	</div>
{% endblock %}
